<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="crm.sdkurl" value="http://muffin/XrmServices/2011/Discovery.svc"/>
    <add key="crm.domain" value="xxx"/>
    <add key="crm.username" value="xxx"/>
    <add key="crm.password" value="xxx"/>
    <add key="crm.org" value="CNR"/>

    <add key="log.path" value="C:\inetpub\wwwroot\magnetism\coastguard-api\errors.log"/>
    <add key="PaymentExpress.PxPay" value="https://sec.paymentexpress.com/pxpay/pxaccess.aspx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Coastguard.Web.API.Services.DonationService">
        <endpoint address="" binding="webHttpBinding" contract="Coastguard.Web.API.Interfaces.IDonationService" />
      </service>

      <service name="Coastguard.Web.API.Services.MembershipService">
        <endpoint address="" binding="webHttpBinding" contract="Coastguard.Web.API.Interfaces.IMembershipService" />
      </service>
    </services>
    
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior>
          <webHttp />
        </behavior>
      </endpointBehaviors>

    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
